@import '../../../tokens/design-tokens.css';

.qd-status {
  display: inline-block;
  border-radius: 50%;
  flex-shrink: 0;
}

/* Size variants */
.qd-status--lg {
  width: var(--components-tokens--status--sizing--lg);
  height: var(--components-tokens--status--sizing--lg);
}

.qd-status--sm {
  width: var(--components-tokens--status--sizing--sm);
  height: var(--components-tokens--status--sizing--sm);
}

.qd-status--xs {
  width: var(--components-tokens--status--sizing--xs);
  height: var(--components-tokens--status--sizing--xs);
}

/* Variant colors */
.qd-status--success {
  background-color: var(--components-tokens--status--background-color--success);
}

.qd-status--warning {
  background-color: var(--components-tokens--status--background-color--warning);
}

.qd-status--error {
  background-color: var(--components-tokens--status--background-color--error);
}

.qd-status--neutral {
  background-color: var(--components-tokens--status--background-color--neutral);
}
